<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Contact</title>
<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
</head>
<body class="contact">
<div class="content">
       <span class="title1"></span>
        <h1>Owner <span>MANIKANDAN.V</span></h1></br>
         <span class="title1">CHITTHAR</span></br>
         <span class="title1">BHAVANI(T.K)-638311</span></br>
         <span class="title1">8668066166</span></br>
         <span class="title1">9787339062</span>
      </div>
</body>
</html>