<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mayil murugan Sand</title>
    <!----CSS link----->
   <link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
  </head>
  <body >
    <div class="hero">    
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="" th:href="@{riversand}">River Sand</a></li>
          <li><a href="#" th:href="@{booking}">Booking Service</a></li>
          <li><a href="#">Avilablity</a></li>
          <li><a href="" th:href="@{contact}">Contact</a></li>         
        </ul>
        <form action="login">
        <button  href="#" class="btn" type="submit">Login</button>
    </form>
      </nav>

      <div class="content">
       <span class="title"></span>
        <h1>Sri <span>Mayil Murugan Transport</span></h1></br>
         <span class="title">Bhavani-Erode| Salem |Tiruppur</span>
      </div>
    </div>
  </body>
</html>